.settingsContentBox{
    background: rgba(35, 46, 67, 0.7);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
width: 820px;
margin-bottom: 8px;
display: flex;
flex-direction: column;
height: 141px;
}

.settingsInnerBox{
    background: rgba(26, 33, 46, 0.7);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
width: 780px;
height: 71px;
}

.defaultText{
    color: #fff;
    margin-top: 0px;
    font-family: "Exo2Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 21px;
}

.intensityContainer{
    
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.refreshContainer{
    display: flex;
    margin-top: 25;
    flex-direction: row;
    justify-content: flex-start;
}